#body {
  padding: 0px;
  margin: 0;
  padding: 0px;
  margin: 0;
}

#container {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 3rem;
}

#about-me-container {
  background-color: #f40616;
  color: white;
  padding: 9rem 4.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  width: 100%;
}

#about-me-heading {
  font-size: 2rem;
  font-weight: 800;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.about-me-text {
  width: 60%;
  margin: 0 auto;
}

#skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
  max-width: 1200px;
}

#frontend-container {
  width: 50%;
}

#backend-container {
  width: 50%;
}

<<<<<<< HEAD #title {
  font-size: 3rem;
}

#about-me-container {
  background-color: #f40616;
  color: white;
  padding: 9rem 4.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  width: 100%;
}

#about-me-heading {
  font-size: 2rem;
  font-weight: 800;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.about-me-text {
  width: 60%;
  margin: 0 auto;
}

#skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
  max-width: 1200px;
}

#frontend-container {
  width: 50%;
}

#backend-container {
  width: 50%;
}

#social-container {
  display: block;
  flex-direction: row;
  text-align: left;
  width: 100%;
  font-size: 40px;
  color: #f40616;
  width: 60%;
  margin: 0 auto;
}

.fa-github {
  color: #f40616;
}

.fa-linkedin {
  color: #f40616;
}
